[Unit]
Description=BadVPN UDP Gateway on Port 7300
Documentation=https://man.archlinux.org/man/community/badvpn/badvpn.7.en
After=syslog.target network-online.target

[Service]
ExecStart=/usr/sbin/badvpn --listen-addr 127.0.0.1:7100 --max-clients 500
Restart=on-failure
RestartPreventExitStatus=23
User=root
NoNewPrivileges=true
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
